* {
  box-sizing: border-box;
}

.app-container {
  max-width: 960px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 30px;
  font-family: sans-serif;
}

.user {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.user input {
  width: 100%;
  font-size: 16px;
  padding: 2px 0;
}

.submit-btn {
  margin-top: 10px;
  padding: 2px 0;
  font-size: 16px;
  width: 100%;
}

.game-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 430px;
  border: 1px solid black;
  text-align: center;
  padding: 60px 30px;
}

.guess-bin ul li {
  list-style-type: none;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 2px;
}

.guess-bin ul {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-nav {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between; 
  margin-bottom: 30px;
}
 

